<%- include('header'); -%>

<section>
  <% fakePerson.forEach(function(user){ %>
   <h1><%= user.name %></h1>
   <ul>
     <li><p>Mail: <a href= mailto:<%= user.email %> ><%= user.email %></a></p></li>
     <li><p><%= user.phone %></p></li>
     <li><a href= <%= user.website %> ><%= user.website %></a></li>
     <li><%= user.address.streetC %></li>
     <li><%= user.address.zipcode %></li>
     <li><%= user.address.country %></li>
 <% }); %>
 </ul>
</section>

<%- include('footer'); -%>
