<%- include('header'); -%>

<section class="detail--page">
  <% fakePerson.forEach(function(user){ %>
  <div class="detail--header">
    <div class="ugh">
      <a href="/contacts">< go back</a>
      <img src="static/imgs/random-user_imageM4.jpg" alt="a photo of <%= user.name %>">
    </div>

    <h1><%= user.name %></h1>
  </div>
  <main>
    <details open>
      <summary role="button">Cellphone</summary>
      <p><%= user.phone %></p>
    </details>
    <details open>
      <summary role="button">Mail</summary>
      <p><a href= mailto:<%= user.email %> ><%= user.email %></a></p>
    </details>
    <details open>
      <summary role="button">Website</summary>
      <p><a href= <%= user.website %> ><%= user.website %></a></p>
    </details>
    <details open>
      <summary role="button">Street</summary>
      <p><%= user.address.streetC %></p>
      <p><%= user.address.zipcode %></p>
      <p><%= user.address.country %></p>
    </details>
    <details open>
      <summary role="button">Company</summary>
      <p><%= user.company.name %></p>
      <p><%= user.company.catchPhrase %></p>
      <p><%= user.company.bs %></p>
    </details>
  </main>
 <% }); %>
</section>
<footer>

</footer>

<%- include('footer'); -%>
