extends layout.pug

block content
  each key in fakePerson
    h1= key.name
      span (#{key.username})
    p the email is #{key.email}
    p phone: #{key.phone}
    p website: 
      a(href=key.website)  #{key.website}
    ul
      li= key.address.city
      li= key.address.state
      li= key.address.country
