<%- include('header'); -%>
<div class="home--header">
  <h1>Contactlist</h1>
</div>
<main class="home">
<div class="letters">
  <ul>
    <li><a href="#A">A</a></li>
    <li><a href="#B">B</a></li>
    <li><a href="#C">C</a></li>
    <li><a href="#D">D</a></li>
    <li><a href="#E">E</a></li>
    <li><a href="#F">F</a></li>
    <li><a href="#G">G</a></li>
    <li><a href="#H">H</a></li>
    <li><a href="#I">I</a></li>
    <li><a href="#J">J</a></li>
    <li><a href="#K">K</a></li>
    <li><a href="#L">L</a></li>
    <li><a href="#M">M</a></li>
    <li><a href="#N">N</a></li>
    <li><a href="#O">O</a></li>
    <li><a href="#P">P</a></li>
    <li><a href="#Q">Q</a></li>
    <li><a href="#R">R</a></li>
    <li><a href="#S">S</a></li>
    <li><a href="#T">T</a></li>
    <li><a href="#U">U</a></li>
    <li><a href="#V">V</a></li>
    <li><a href="#W">W</a></li>
    <li><a href="#X">X</a></li>
    <li><a href="#Y">Y</a></li>
    <li><a href="#Z">Z</a></li>
  </ul>
</div>
<div class="all-users">
  <label>
    Search for names
    <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
  </label>
      <dl id="myUL">
        <dt id="a">A</dt>
      <% fakePerson.forEach(function(user){ %>
      <% if(user.firstLetter == 'A') { %>
      <dd>
        <a href= <%= user.nickName %>>
          <%= user.fullName %>
        </a>
      </dd>
      <% } %>
      <% }); %>
      <dt id="B">B</dt>
      <% fakePerson.forEach(function(user){ %>
      <% if(user.firstLetter == 'B') { %>
      <dd>
        <a href= <%= user.nickName %>>
          <%= user.fullName %>
        </a>
      </dd>
      <% } %>
   <% }); %>
   <dt id="C">C</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'C') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="D">D</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'D') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="E">E</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'E') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="F">F</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'F') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="G">G</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'G') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="H">H</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'H') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="I">I</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'I') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="J">J</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'J') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="K">K</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'K') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="L">L</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'L') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="M">M</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'M') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="N">N</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'N') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="O">O</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'O') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="P">P</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'P') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="Q">Q</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'Q') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="R">R</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'R') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="S">S</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'S') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="T">T</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'T') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="U">U</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'U') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="V">V</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'V') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="W">W</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'W') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="X">X</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'X') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>

   </dd>
   <% } %>
<% }); %>
   <dt id="Y">Y</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'Y') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
   <dt id="Z">Z</dt>
   <% fakePerson.forEach(function(user){ %>
   <% if(user.firstLetter == 'Z') { %>
   <dd>
     <a href= <%= user.nickName %>>
       <%= user.fullName %>
     </a>
   </dd>
   <% } %>
<% }); %>
</div>
<div class="hidden" id="content">
</div>
</main>
<script src="/static/container.js"></script>
<script src="/static/filter.js"></script>
<%- include('footer'); -%>
